[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
tqdm = "*"
joblib = "*"
opencv-python = "*"
matplotlib = "*"
scikit-image = "*"
ipywidgets = {version = ">=7.0,<8.0"}
ipython = "*"
jupyter = "*"
jupyterlab = "*"
tinyexr = {git="https://github.com/tatsy/pytinyexr.git", editable=true, ref="1.0.5-rc0"}

[dev-packages]
flake8 = "*"
mypy = "*"
isort = "*"
yapf = "*"

[requires]
python_version = "3.9"
